<h1>About</h1>
<p>This is a Node/ Express app for reading books effectively. Following a three stage process comprising of first:
  scribbles and notes, then second: ideas, then finally: reviews.</p>
<p>Version: 1.0.0</p>