<div class="jumbotron text-center bg-danger text-white mb-3 pb-3 pt-3">
  <div class="container col-6">
    <img id="cover" class="img-fluid border border-white rounded" src="img/cover.jpg" alt="An irrelevant picture of a drone and backpack I took.">
  </div>
  <h2 class="display-4 font-weight-bold">{{commonVariables.title}}</h1>
    <p class="lead">Add a book, and add scribbles, ideas and reviews.</p>
    <div class="container">
      <a href="/ideas/add" class="btn btn-dark btn-lg col mb-2"><i class="fas fa-globe-europe mx-2"></i>Add Book to
        Public
        List<i class="fas fa-globe-europe mx-2"></i></a>
      {{#if user}}
      <a href="/ideas/add" class="btn btn-dark btn-lg col"><i class="fas fa-user-circle mx-2"></i>Add Book to Personal
        List<i class="far fa-user-circle mx-2"></i></a>
      {{/if}}
    </div>

</div>
{{> _ideas}}