<div class="jumbotron text-center">
  <h1 class="display-3">{{commonVariables.title}}</h1>
  <p class="lead">Add a book, and add scribbles, ideas and reviews.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Book</a>
</div>
{{> _ideas}}