<div class="jumbotron text-center bg-danger text-white mb-3 pb-3 pt-3">
  <div class="container col-6">
    <img id="cover" class="img-fluid border border-white rounded" src="img/cover.jpg" alt="An irrelevant picture of a drone and backpack I took.">
  </div>
  <h2 class="display-4 font-weight-bold">{{commonVariables.title}}</h1>
    <p class="lead">Add a book, and add scribbles, ideas and reviews.</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Book</a>
</div>
{{> _ideas}}